<div *ngIf="issuesOpened.length==0" fxLayoutAlign="center center" >
    <h2 class="txt-white">{{infoStatus}}</h2>   
</div>
<div fxLayout="row wrap" fxLayoutAlign="start" >
    <mat-card fxFlex class="item-size" id="cadastro" >
        <mat-card-header>
            <mat-card-title>Quer sugerir uma data de evento?</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="end">
                <button mat-button color="warn" (click)="insertNewEvent()">  <mat-icon>schedule</mat-icon> CADASTRAR </button>
            </div>
        </mat-card-actions>
    </mat-card>
    <mat-card *ngFor="let item of issuesOpened" fxFlex class="item-size">
        <mat-card-header>
            <img src="{{item.user.avatar_url}}" mat-card-avatar>
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>{{item.user.login}} - {{getQuando(item.body)}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list *ngIf="item.comments == 0">
                <mat-list-item>
                    <mat-icon mat-list-icon>close</mat-icon>
                    <h4>Não há temas submetidos ainda =(</h4>
                </mat-list-item>
            </mat-list>
            <mat-list *ngIf="item.themes?.length > 0">
                <mat-list-item>
                    Há {{item.themes?.length}} tema(s)
                </mat-list-item>
                <mat-list-item *ngFor="let theme of item.themes">
                    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between">
                        <img src="{{theme.author.avatar}}" mat-list-icon mat-card-avatar>
                        <div fxLayout="row"  fxFlex="79" >
                            <span fxFlex="100" style="cursor: pointer" matTooltip="Ver info da palestra" (click)="detailInfo(theme)" >
                                <span mat-line> {{getTitle(theme.body)}}</span>
                                <span mat-line> {{theme.author.login}}</span>
                            </span>
                        </div>
                        <span fxLayout="row">
                            <button mat-icon-button color="warn" [disabled]="actionVote || item.locked" *ngIf="votedInTheme(theme);else removeVote" (click)="removeVoteInTheme(theme)" matTooltip="Remover voto" >
                                <mat-icon matBadge="{{theme.reactions['+1']}}" matBadgePosition="above after" matBadgeOverlap="false">thumb_down_alt</mat-icon>
                            </button>
                            <ng-template #removeVote>
                                <button (click)="voteInTheme(theme)" [disabled]="actionVote || item.locked" mat-icon-button color="primary" matTooltip="Votar" >
                                    <mat-icon matBadge="{{theme.reactions['+1']}}" matBadgePosition="above after" matBadgeOverlap="false">thumb_up_alt</mat-icon>
                                </button>            
                            </ng-template>
                        </span>
                    </div>
                </mat-list-item>    
            </mat-list>
        </mat-card-content>
        <mat-card-actions *ngIf="!item.locked">
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="end">
                <button mat-button color="warn" (click)="insertNewTheme(item)">  <mat-icon>edit</mat-icon> Submeter tema </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>                 