<mat-toolbar class="back-primary">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
        <span >
            <span class="dot back-second"></span>    
            <span class="dot back-three"></span>    
            <span class="dot back-white"></span>    
            <span class="spaceLeft"> TESTE</span>
        </span>
        <span #nameUser>
            Não logado
        </span>
    </div>
</mat-toolbar>
<!--Component Inner-->
<div class="padding">
    <router-outlet></router-outlet>
</div>
